@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(20deg, #23464b, #00105e);
    color: #fff;
}
.container{
    width: 430px;
    border: 0.5px solid white;
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow: 8px 8px;
}
.container h1{
    font-size: 1.9rem;
    margin: 10px 0px;
}

.inputBox{
    display: flex;
    align-items: center;
}
.inputBox input{
    display: flex;
    align-items: center;
}
.inputBox span{
    color: white;
    margin: 0px 15px;
    font-size: 30px;
}
.inputBox #copyIcon{
    cursor: pointer;
}
.passBox{
    background-color: white;
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    font-size: 20px;
    margin-block: 8px;
    text-overflow: ellipsis;
}
#inputSlider{
    margin: 10px 0px;
}
.row{
    display: flex;
    margin: 10px 0px;
}
.row p, .row label{
    flex-basis: 100%;
    font-size: 18px;
}
.row input{
    width: 20px;
    height: 20px;
}
.getBtn{
    border: none;
    outline: none;
    background-color: #fff;
    padding: 12px 24px;
    color: #0057da;
    font-size: 21px;
    font-weight: 500;
    margin: 15px 0px 5px 0px;
    cursor: pointer;
    transition: 0.4s;
}
.getBtn:hover{
    background-color: #0057da;
    color: #fff;
}